@media (max-width: 250px) {
  form {
    padding: 10px;
  }
  .buttons-container {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  button {
    width: 100%;
  }

  input {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (min-width: 251px) {
}

form {
  display: flex;
  flex-direction: column;
  border: solid #a2b6c9 1px;

  max-width: 450px;
  margin: auto;
  padding: 25px 10px;
  box-sizing: border-box;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  gap: 10px;
}

button {
  background-color: #a2b6c9;
  border: none;
  border-radius: 5%;
  height: 35px;
  min-width: 100px;
  width: 150px;
  color: white;
  font-size: 16px;
}
