/*Estilos aplicables a todos los tamaños de pantalla*/
form {
  display: flex;
  flex-direction: column;
  border: solid #c5d4e7 1px;
  max-width: 450px;
  margin: auto;
  padding: 25px 10px;
  box-sizing: border-box;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

input {
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  gap: 40px;
}

button {
  background-color: #b0c4de;
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  max-width: 150px;
  color: white;
  font-size: 14px;
}

@media (max-width: 250px) {
  form {
    padding: 10px;
  }
  .buttons-container {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 100%;
  }
}
