/*Estilos aplicables a todos los tamaños de pantalla*/
body {
  margin: 10px;
}

.father {
  border: black solid 2px;
  padding: 10px 5px;
  display: flex;
  box-sizing: border-box;
}

.container {
  display: flex;
  gap: 20px;
}

.childs {
  border: black solid 2px;
  min-height: 40px;
  min-width: 40px;
}

#father-1 {
  height: 75px;
  margin-bottom: 10px;
  justify-content: space-around;
  align-items: center;
}

#father-2 {
  height: 150px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
#father-3 {
  height: 150px;
  flex-grow: 2;
  justify-content: space-between;
  align-items: baseline;
}

#last-child {
  align-self: end;
}


/*Estilos aplicables a tamaño de pantalla especifico para RESPONSIVE DESING*/
@media (max-width: 250px) {
  .container {
    flex-direction: column;
  }

  #father-1 {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}
