body {
  min-width: 320px;
}
.section {
  margin-bottom: 10px;
  display: flex;
  border: solid black 2px;
  box-sizing: border-box;
}
.section-1 {
  height: 75px;
  justify-content: space-around;
  align-items: center;
}
.section-2,
.section-3 {
  height: 150px;
}
.section-2 {
  justify-content: center;
  align-items: center;
}
.section-3 {
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 5px;
}
.child {
  border: solid black 2px;
  height: 40px;
  width: 40px;
}
.section-3 .child:nth-child(2) {
  align-self: self-end;
}
@media (min-width: 450px) {
  body {
    max-width: 1024px;
    margin: auto;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-areas:
      "section1 section1"
      "section2 section3";
    column-gap: 20px;
    row-gap: 10px;
  }
  .section {
    margin: 0;
  }
  .section-1 {
    grid-area: section1;
  }
  .section-2 {
    grid-area: section2;
  }
  .section-3 {
    grid-area: section3;
  }
}
